.detail{
    flex:4;
    align-items: center;
    justify-content: center;
   padding: 1rem;
   padding-left: 20rem;
    
}
.detail>img{
    width: 30px;
    border-style:solid;
    padding:1rem;
    margin-left: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: rgb(241, 237, 237);
}

.btn1{
    padding:10px;
    width:15rem ;
    border-radius: 10px;
    border-color: lightgrey;
    background-color: white;
    cursor: pointer;
}
.btn1>img{
    width: 15px;
    
   
}
.div1{
    padding:1rem;
    padding-left: 0;
}
.div2{
    padding: 1rem;
    margin-left: 1rem;
}

.form>form>input{
    padding:10px;
    width:15rem ;
    border-radius: 10px;
    border-color:lightgray ;
    
}
.btn2{
    color: white;
    padding:10px;
    width:17rem ;
    border-radius: 10px;
    border-color: white;
    background-color:rgb(38, 60, 253);
    cursor: pointer;
}
.button{
    padding: 1rem;
    padding-left: 0;
    
}