.social{

    flex:4;
    align-items: center;
    justify-content: center;
   padding: 1rem;
   padding-left: 20rem;
    
}


.div1{
    padding:1rem;
    padding-left: 0;
}
.div2{
    padding: 1rem;
    margin-left: 1rem;
}

.form>form>input{
    padding:10px;
    width:15rem ;
    border-radius: 10px;
    border-color:lightgray ;
    
}
.btn2{
    color: white;
    padding:10px;
    width:17rem ;
    border-radius: 10px;
    border-color: white;
    background-color:rgb(38, 60, 253);
    cursor: pointer;
}
.button{
    padding: 1rem;
    padding-left: 0;
    
}